<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Dionysus</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li>
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false"><span class="bitSelWrap">Auto</span><span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li class="active"><a id="autob" href="#">Auto</a></li>
						<li><a id="64b" href="#">64-bit</a></li>
						<li><a id="32b" href="#">32-bit</a></li>
						<li><a id="16b" href="#">16-bit</a></li>
						<li><a id="8b" href="#">8-bit</a></li>
					</ul>
			</ul>
		</div>
	</div>
</nav>
